<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="google-site-verification" content="sucpY3F1eymVS85st_A41PuvIVn3ES0Ofmj5WtBqOdo" />
   <link rel="icon" href="../assets/icon.ico" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Download - Antares SQL</title>
   <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Antares SQL",
      "operatingSystem": "Windows 10, Windows 7, Linux, OSX",
      "applicationCategory": "DeveloperApplication",
      "offers": {
        "@type": "Offer",
        "price": "0"
      },
      "sameAs": [
         "https://antares-sql.app",
         "https://github.com/Fabio286/antares"
      ],
      "license": "https://github.com/Fabio286/antares/blob/master/LICENSE",
      "author": {
            "@type": "Person",
            "givenName": "Fabio",
            "familyName": "Di Stasio",
            "birthDate": "1986-02-28",
            "sameAs": [
               "https://github.com/Fabio286",
               "https://fabiodistasio.it",
               "https://www.linkedin.com/in/distasiofabio/"
            ]
        }
    }
</script>
</head>

<body>
   <section class="hero is-medium bg-antares">
      {{> ../partials/header}}
      <div class="hero-body pb-6">
         <div class="container">
            <div class="columns">
               <div class="column is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
                  <h1 class="title antares-title is-1 pb-6">
                     One application,<br>
                     different platforms.
                  </h1>
                  <h2 class="subtitle antares-title is-4 pb-4">
                     Download Antares SQL for your favorite OS and in the distribution that fits your needs .
                  </h2>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section bg-antares pt-0">
      <div class="container has-text-centered py-0">
         <div class="columns is-multiline">
            <div class="column is-4">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-linux fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">Linux</h3>
                     <div class="content">
                        No paid content, subscriptions or ads. Antares will be always 100% free and open source.
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-4">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-windows fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">Windows</h3>
                     <div class="content">
                        This project is currently in development and new features will be released with each update!
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-4">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-apple fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">MacOS</h3>
                     <div class="content">
                        All saved connections data, including passwords, are encrypted and the key is kept safe.
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   {{> ../partials/footer}}
</body>

</html>