<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="google-site-verification" content="sucpY3F1eymVS85st_A41PuvIVn3ES0Ofmj5WtBqOdo" />
   <link rel="icon" href="../assets/icon.ico" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Download - Antares SQL</title>
   <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Antares SQL",
      "operatingSystem": "Windows 10, Windows 7, Linux, OSX",
      "applicationCategory": "DeveloperApplication",
      "offers": {
        "@type": "Offer",
        "price": "0"
      },
      "sameAs": [
         "https://antares-sql.app",
         "https://github.com/Fabio286/antares"
      ],
      "license": "https://github.com/Fabio286/antares/blob/master/LICENSE",
      "author": {
            "@type": "Person",
            "givenName": "Fabio",
            "familyName": "Di Stasio",
            "birthDate": "1986-02-28",
            "sameAs": [
               "https://github.com/Fabio286",
               "https://fabiodistasio.it",
               "https://www.linkedin.com/in/distasiofabio/"
            ]
        }
    }
</script>
</head>

<body>
   <section class="hero is-medium bg-antares">
      {{> ../partials/header}}
      <div class="hero-body pb-6">
         <div class="container">
            <div class="columns">
               <div class="column is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
                  <h1 class="title antares-title is-1 pb-6">
                     One application,<br>
                     different platforms.
                  </h1>
                  <h2 class="subtitle antares-title is-4 pb-4">
                     Download Antares SQL for your favorite OS and in the distribution that fits your needs .
                  </h2>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section bg-antares pt-5">
      <div class="container has-text-centered py-0">
         <div class="columns is-multiline">
            <div class="column is-4 is-relative mb-6">
               <div class="card is-shadowless" style="overflow: visible;">
                  <div class="card-image pt-6" style="position: absolute;top: -90px;left: 0;right: 0;">
                     <span class="os-circle">
                        <i class="fa fa-windows fa-4x"></i>
                     </span>
                  </div>
                  <div class="card-content" style="min-height:390px; padding-bottom: 80px;">
                     <h3 class="title antares-title has-text-weight-bold mt-5">Windows</h3>
                     <div class="content">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th class="has-text-left has-text-light">Arch</th>
                                 <th class="has-text-light">Format</th>
                                 <th class="has-text-light"></th>
                              </tr>
                           </thead>
                           <tbody id="winBlock"></tbody>
                        </table>
                        <a class="is-block" style="position: absolute; bottom: 15px; left:0; right: 0;"
                           href='//www.microsoft.com/store/apps/9nhtb9sq51r1?cid=storebadge&ocid=badge'
                           target="_blank"><img
                              src='https://developer.microsoft.com/store/badges/images/English_get-it-from-MS.png'
                              alt='English badge' style='height: 56px;' />
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-4 is-relative mb-6">
               <div class="card is-shadowless" style="overflow: visible;">
                  <div class="card-image pt-6" style="position: absolute;top: -90px;left: 0;right: 0;">
                     <span class="os-circle">
                        <i class="fa fa-linux fa-4x"></i>
                     </span>
                  </div>
                  <div class="card-content" style="min-height:390px; padding-bottom: 80px;">
                     <h3 class="title antares-title has-text-weight-bold mt-5">Linux</h3>
                     <div class="content">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th class="has-text-left has-text-light">Arch</th>
                                 <th class="has-text-light">Format</th>
                                 <th class="has-text-light"></th>
                              </tr>
                           </thead>
                           <tbody id="linuxBlock"></tbody>
                        </table>
                        <div class="is-block" style="position: absolute; bottom: 15px; left:0; right: 0;">
                           <a href="https://snapcraft.io/antares" target="_blank">
                              <img alt="Get it from the Snap Store"
                                 src="https://snapcraft.io/static/images/badges/en/snap-store-black.svg" />
                           </a>
                           <a href="https://aur.archlinux.org/packages/antares-sql/" target="_blank">
                              <img alt="Get it from AUR"
                                 src="https://raw.githubusercontent.com/Fabio286/antares/3e00c4bae6e036300c752c1a40c5a038fea9c169/docs/aur-badge.svg" />
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-4 is-relative mb-6">
               <div class="card is-shadowless" style="overflow: visible;">
                  <div class="card-image pt-6" style="position: absolute;top: -90px;left: 0;right: 0;">
                     <span class="os-circle">
                        <i class="fa fa-apple fa-4x"></i>
                     </span>
                  </div>
                  <div class="card-content" style="min-height:390px; padding-bottom: 80px;">
                     <h3 class="title antares-title has-text-weight-bold mt-5">MacOS</h3>
                     <div class="content">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th class="has-text-left has-text-light">Arch</th>
                                 <th class="has-text-light">Format</th>
                                 <th class="has-text-light"></th>
                              </tr>
                           </thead>
                           <tbody id="macBlock"></tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   {{> ../partials/footer}}
</body>

</html>