<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="google-site-verification" content="sucpY3F1eymVS85st_A41PuvIVn3ES0Ofmj5WtBqOdo" />
   <link rel="icon" href="../assets/icon.ico" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Antares SQL- Free and Open Source Client</title>
</head>

<body>
   <section class="hero is-medium antares-hero">
      {{> ../partials/header}}
      <div class="hero-body">
         <div class="container">
            <div class="columns">
               <div class="column is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
                  <h1 class="title is-1 pb-6">
                     Open source SQL client<br>
                     made to be simple.
                  </h1>
                  <h2 class="subtitle is-4 pb-4">
                     Antares is a brand new solution for a complete <br>
                     database management experience.
                  </h2>
                  <div class="buttons">
                     <a href="https://github.com/Fabio286/antares/releases" class="button is-primary"
                        id="download-button">
                        <i class="fa fa-download is-size-5 mr-2"></i> Download Antares
                     </a>
                     <a href="https://github.com/Fabio286/antares/releases" class="button is-dark is-hidden"
                        id="all-downloads-button">
                        <i class="fa fa-download is-size-5 mr-2"></i> Other Downloads
                     </a>
                  </div>
               </div>
               <div class="column is-12-mobile">
                  <img src="../assets/images/screen1.png" class="antares-screenshot" alt="Antares SQL">
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="section has-background-grey-dark">
      <div class="container">
         <div class="columns">
            <div class="column has-text-centered">
               <h1 class="title">About Antares Project</h1>
               <h2 class="subtitle">
                  A new star is born, and is growing fast.
               </h2>
               <p><a href="https://en.wikipedia.org/wiki/Antares" target="_blank" rel="nofollow">Antares</a> is an <strong>SQL client</strong> that aims to become an useful and complete tool, especially
                  for
                  developers.<br>
                  The target is to support as many databases as possible, and all major operating systems, including the
                  ARM
                  versions.<br>

                  At the moment this application is an <strong>alpha</strong> and supports only
                  <strong>MySQL</strong> and x86 architecture.<br>
                  Most of its current features might be enough for MySQL management, so give it a chance and <a
                     href="https://github.com/Fabio286/antares/discussions" target="_blank">send us your feedback</a>,
                  we would really appreciate it.
               </p>
               {{!-- <div class="mt-5">
                  <a href="https://github.com/Fabio286/antares/blob/master/README.md" class="button is-primary is-outlined">Read more...</a>
               </div> --}}
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-grey-darker mt-6">
      <div class="container">
         <div class="columns">
            <div class="column is-half is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
               <h1 class="title">Simple, but complete</h1>
               <h2 class="subtitle">
                  Features in the right places, <br>
                  not hundreds of tiny buttons or submenu.
               </h2>
               <p>Antares SQL development is driven by the idea to create a <strong>full featured</strong> tool, <strong>fast</strong> and with a <strong>modern and intuitive UI</strong>.<br>
               All features are accessible with a few clicks, without having to search for them in dozens of drop-down menus; productivity comes first.</p>
            </div>
            <div class="column is-half is-12-mobile">
                  <img src="../assets/images/screen2.png" class="antares-screenshot" alt="Antares SQL">
            </div>
         </div>
      </div>
      <div class="container has-text-centered pt-6">
         <div class="columns is-multiline">

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-heart fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle is-uppercase has-text-weight-bold">Free and Open Source</h3>
                     <div class="content">
                        No paid content, subscriptions or ads. Antares will be always 100% free and open source.
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-star fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle is-uppercase has-text-weight-bold">New Features Comes</h3>
                     <div class="content">
                        This project is currently in development and new features will be released with each update!
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-lock fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle is-uppercase has-text-weight-bold">Secure</h3>
                     <div class="content">
                        All saved connections data are encrypted and the key is kept safe by your OS.
                     </div>
                  </div>
               </div>
            </div>
            

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-user-secret fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle is-uppercase has-text-weight-bold">Private</h3>
                     <div class="content">
                        No spyware, telemetry or other sort of background activities. <br>
                        Spontaneous feedbacks are enough.
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </section>
   
   {{!-- <section class="section has-background-grey-dark">
      <div class="container">
         <div class="columns">
            <div class="column has-text-centered">
               <h1 class="title">Databases</h1>
            </div>
         </div>
         <div class="tile is-ancestor">
            <div class="tile is-2 is-vertical is-parent">
               <div class="tile is-child box">
                  <p class="subtitle">MySQL/MariaDB</p>
                  <p>Fully supported.</p>
               </div>
               <div class="tile is-child box">
                  <p class="subtitle">PostgreSQL</p>
                  <p>Coming soon.</p>
               </div>
               <div class="tile is-child box">
                  <p class="subtitle">SQLite</p>
                  <p>Coming soon.</p>
               </div>
            </div>

            <div class="tile is-2 is-vertical is-parent">
               <div class="tile is-child box">
                  <p class="subtitle">MySQL/MariaDB</p>
                  <p>Fully supported.</p>
               </div>
               <div class="tile is-child box">
                  <p class="subtitle">PostgreSQL</p>
                  <p>Coming soon.</p>
               </div>
               <div class="tile is-child box">
                  <p class="subtitle">SQLite</p>
                  <p>Coming soon.</p>
               </div>
            </div>

            <div class="tile is-4 is-parent">
               <div class="tile is-child box">
                  <p class="subtitle">MySQL/MariaDB</p>
                  <p>Fully supported.</p>
               </div>
            </div>

            <div class="tile is-parent">
               <div class="tile is-child box">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                  <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                  <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
               </div>
            </div>
            </div>
      </div>
   </section> --}}
   {{> ../partials/footer}}
</body>

</html>