<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="../assets/icon.ico" />
   <title>Antares SQL Client</title>
</head>

<body>
   <div class="container">
      {{> ../partials/header}}
      <section class="hero">
         <div class="hero-body">
            <div class="container">
               <h1 class="title">
                  Open source SQL client<br>
                  made to be simple and complete.
               </h1>
               <h2 class="subtitle">
                  WEBSITE UNDER CONSTRUCTION!
               </h2>
            </div>
         </div>
      </section>
   </div>
   {{> ../partials/footer}}
</body>

</html>
