<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="google-site-verification" content="sucpY3F1eymVS85st_A41PuvIVn3ES0Ofmj5WtBqOdo" />
   <link rel="icon" href="../assets/icon.ico" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Antares SQL- Free and Open Source Client</title>
   <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Antares SQL",
      "operatingSystem": "Windows 10, Windows 7, Linux, OSX",
      "applicationCategory": "DeveloperApplication",
      "offers": {
        "@type": "Offer",
        "price": "0",
      },
      "sameAs": [
         "https://antares-sql.app",
         "https://github.com/Fabio286/antares"
      ],
      "license": "https://github.com/Fabio286/antares/blob/master/LICENSE",
      "author": {
            "@type": "Person",
            "givenName": "Fabio",
            "familyName": "Di Stasio",
            "birthDate": "1986-02-28"
            "sameAs": [
               "https://github.com/Fabio286",
               "https://fabiodistasio.it",
               "https://www.linkedin.com/in/distasiofabio/",
            ]
        }
    }
</script>
</head>

<body>
   <section class="hero is-medium bg-antares">
      {{> ../partials/header}}
      <div class="hero-body">
         <div class="container">
            <div class="columns">
               <div class="column is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
                  <h1 class="title antares-title is-1 pb-6">
                     Open source SQL client<br>
                     made to be simple.
                  </h1>
                  <h2 class="subtitle antares-title is-4 pb-4">
                     Antares is a brand new solution for a complete <br>
                     database management experience.
                  </h2>
                  <div class="buttons">
                     <a href="https://github.com/Fabio286/antares/releases" class="button is-primary"
                        id="download-button">
                        <i class="fa fa-download is-size-5 mr-2"></i> Download Antares
                     </a>
                     <a href="https://github.com/Fabio286/antares/releases" class="button is-dark is-hidden"
                        id="all-downloads-button">
                        <i class="fa fa-download is-size-5 mr-2"></i> Other Downloads
                     </a>
                  </div>
               </div>
               <div class="column is-12-mobile">
                  <img src="../assets/images/screen1.png" class="antares-screenshot" alt="Antares SQL">
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-grey-dark">
      <div class="container">
         <div class="columns">
            <div class="column has-text-centered">
               <h3 class="title antares-title">About Antares Project</h3>
               <div class="subtitle antares-title">
                  A new star is born, and is growing fast.
               </div>
               <p><a href="https://en.wikipedia.org/wiki/Antares" target="_blank" rel="nofollow">Antares</a> is an
                  <strong>SQL client</strong> that aims to become an useful and complete tool, especially
                  for
                  developers.<br>
                  The target is to support as many databases as possible, and all major operating systems, including the
                  ARM
                  versions.<br>

                  At the moment this application is an <strong>alpha</strong> and supports only
                  <strong>MySQL</strong> and x86 architecture.<br>
                  Most of its current features might be enough for MySQL management, so give it a chance and <a
                     href="https://github.com/Fabio286/antares/discussions" target="_blank">send us your feedback</a>,
                  we would really appreciate it.
               </p>
               {{!-- <div class="mt-5">
                  <a href="https://github.com/Fabio286/antares/blob/master/README.md"
                     class="button is-primary is-outlined">Read more...</a>
               </div> --}}
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-grey-darker mt-6">
      <div class="container">
         <div class="columns">
            <div class="column is-half is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
               <h3 class="title antares-title">Simple, but complete</h3>
               <div class="subtitle antares-title">
                  Features in the right places, <br>
                  not hundreds of tiny buttons or submenu.
               </div>
               <p>Antares SQL development is driven by the idea to create a <strong>full featured</strong> tool, <br>
                  <strong>fast</strong> and with a <strong>modern and intuitive UI</strong>.<br>
                  All features are accessible with a few clicks, without having to search for them in dozens of
                  drop-down menus; productivity comes first.
               </p>
            </div>
            <div class="column is-half is-12-mobile">
               <img src="../assets/images/screen2.png" class="antares-screenshot" alt="Antares SQL">
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-grey-darker mb-6">
      <div class="container ">
         <div class="columns">
            <div class="column is-half is-12-mobile">
               <img src="../assets/images/screen3.png" class="antares-screenshot" alt="Antares SQL">
            </div>
            <div class="column is-half is-12-mobile is-flex is-flex-direction-column is-justify-content-center">
               <h3 class="title antares-title">Pleasant to use </h3>
               <div class="subtitle antares-title">
                  An application that aims to do everything you need <br>
                  to manage your databases.
               </div>
               <p>Antares SQL aims to support the largest number of SQL databases <br>
                  by offering all the features necessary to guarantee a complete user experience. <br>
                  This is just the beginning.</p>
            </div>
         </div>
      </div>
   </section>

   <section class="section bg-antares">
      <div class="container has-text-centered py-6">
         <div class="columns is-multiline">
            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-heart fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">Free and Open Source</h3>
                     <div class="content">
                        No paid content, subscriptions or ads. Antares will be always 100% free and open source.
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-star fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">New Features Comes</h3>
                     <div class="content">
                        This project is currently in development and new features will be released with each update!
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-lock fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">Secure</h3>
                     <div class="content">
                        All saved connections data are encrypted and the key is kept safe by your OS.
                     </div>
                  </div>
               </div>
            </div>

            <div class="column is-3">
               <div class="card is-shadowless">
                  <div class="card-image pt-6">
                     <i class="fa fa-user-secret fa-3x"></i>
                  </div>
                  <div class="card-content">
                     <h3 class="subtitle antares-title is-uppercase has-text-weight-bold">Private</h3>
                     <div class="content">
                        No spyware, telemetry or other sort of background activities. <br>
                        Spontaneous feedbacks are enough.
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-grey-darker my-6">
      <div class="container">
         <div class="columns pt-3 pb-6">
            <div class="column has-text-centered">
               <h3 class="title antares-title">Supported Databases</h3>
               <p>Antares SQL is in an alpha phase but it fully supports MySQL/MariaDB. Support to other databases will
                  come in future releases.</p>
            </div>
         </div>
         <div class="steps is-xlarge">
            <div class="step-item is-completed">
               <div class="step-marker" style="left: 27%;">
                  <figure class="image is-64x64">
                     <img src="../assets/icons/mysql.svg" alt="MySQL">
                  </figure>
               </div>
               <div class="step-marker" style="left: 47%;">
                  <figure class="image is-64x64">
                     <img src="../assets/icons/mariadb.svg" alt="MariaDB">
                  </figure>
               </div>
               <div class="step-details">
                  <p class="step-title antares-title">MySQL & MariaDB</p>
                  <p>Fully supported.</p>
               </div>
            </div>
            <div class="step-item is-active">
               <div class="step-marker has-background-grey-dark">
                  <figure class="image is-64x64">
                     <img src="../assets/icons/pg.svg" alt="PostgreSQL">
                  </figure>
               </div>
               <div class="step-details">
                  <p class="step-title antares-title">PostgreSQL</p>
                  <p>Coming soon.</p>
               </div>
            </div>
            <div class="step-item">
               <div class="step-marker has-background-grey-dark">
                  <figure class="image is-64x64">
                     <img src="../assets/icons/sqllite.svg" alt="SQLite">
                  </figure>
               </div>
               <div class="step-details">
                  <p class="step-title antares-title">SQLite</p>
                  <p>Coming.</p>
               </div>
            </div>
            <div class="step-item">
               <div class="step-marker has-background-grey-dark">
                  <figure class="image is-64x64">
                     <img src="../assets/icons/mssql.svg" alt="MSSQL">
                  </figure>
               </div>
               <div class="step-details">
                  <p class="step-title antares-title">SQL Server</p>
                  <p>Coming.</p>
               </div>
            </div>
            <div class="step-item">
               <div class="step-marker has-background-grey-dark">
                  <i class="fa fa-database is-size-2"></i>
               </div>
               <div class="step-details">
                  <p class="step-title antares-title">More...</p>
                  <p>Coming.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   {{> ../partials/footer}}
</body>

</html>