<footer class="footer">
   <div class="container">
      <div class="content has-text-centered">
         <p>
            <strong>Antares</strong> by <a href="https://github.com/Fabio286" target="_blank">Fabio Di Stasio</a>. License
            <a href="https://github.com/Fabio286/antares/blob/master/LICENSE" target="_blank">MIT</a>.
         </p>
      </div>
   </div>
</footer>
<script async defer src="https://buttons.github.io/buttons.js"></script>