<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item" href="/">
            <img class="antares-logo" src="../assets/logo.png" alt="Open source SQL client made to be simple">
            <h1 class="title antares-title is-4">Antares SQL</h1>
         </a>

         <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      </div>
      <div class="navbar-menu">
         <div class="navbar-end">
            {{!-- <a class="navbar-item" target="_blank"
               href="https://github.com/Fabio286/antares/blob/master/README.md">About</a> --}}
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="download.html">Download</a>
            <a class="navbar-item" target="_blank" href="https://github.com/Fabio286/antares/discussions">Support</a>
            <a title="GitHub Repository" target="_blank" class="navbar-item" href="https://github.com/Fabio286/antares">
               <i class="fa fa-github is-size-5"></i>
            </a>
            <a title="Follow on Twitter" target="_blank" class="navbar-item" href="https://twitter.com/AntaresSql">
               <i class="fa fa-twitter is-size-5"></i>
            </a>
            <div class="navbar-item pt-3">
               <a class="github-button" href="https://github.com/fabio286/antares"
                  data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-star"
                  data-size="large" data-show-count="true" aria-label="Star fabio286/antares on GitHub">Star</a>
            </div>
         </div>
      </div>
   </div>
</nav>