<nav class="navbar" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
      <a class="navbar-item" href="/">
         <img class="site-logo" src="../assets/logo.png" alt="Open source SQL client made to be simple">
         <h1 class="title is-4">Antares</h1>
      </a>
   </div>
   <div class="navbar-menu">
      <div class="navbar-end">
         <a class="navbar-item" href="https://github.com/Fabio286/antares/releases">Download</a>
         <a class="navbar-item" href="https://github.com/Fabio286/antares"><i data-feather="github"></i></a>
      </div>
   </div>
   <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
   </a>
</nav>
