$grey-dark: #3f3f3f;
$grey-darker: #272727;
$primary: #e36929;

$scheme-main: $grey-darker;
$text: $white;
$link: $primary;
$link-hover: $white;
$title-color: $white;
$strong-color: $white;
$subtitle-color: $white;
$subtitle-strong-color: $white;
$footer-background-color: #1d1d1d;
